@{
    ViewData["Title"] = "联系我们";
}
<h2>@ViewData["Title"]</h2>

<address>
    江苏省苏州市高新区科技城锦峰路<br />
    158号17幢 215000<br />
    <abbr title="Phone">P:</abbr>
    13510711981
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@senseed.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@senseed.com</a>
</address>
